# ==========================================
# APPLICATION CONFIGURATION
# ==========================================
APP_PORT=8080
APP_ENV=development

# ==========================================
# POSTGRESQL DATABASE CONFIGURATION
# ==========================================
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=246810
DB_NAME=umkm_accountant

# ==========================================
# SECURITY (JWT)
# ==========================================
# JWT_SECRET=super_secret_key_change_me_in_production
